package main

templ AddItem() {
	@Page("Add Item") {
		<button><a href="#" onclick="history.back()">back</a></button>
		<form method="POST">
			<h1>Add Item</h1>
			<input type="text" name="name" id="name" placeholder="Name"/>
			<textarea
				id="metadata"
				name="metadata"
				cols="50"
				rows="10"
				placeholder="Anything can go in here...
Value: $10
Artist: Claire Rosinkranz
Genre: Pop"
			></textarea>
			<button>Add Item</button>
		</form>
	}
}
