package main

templ HTMX() {
	<script src="https://unpkg.com/htmx.org@2.0.4"></script>
}

templ Page(title string) {
	<html>
		<head>
			@HTMX()
			<title>Small Data - { title }</title>
			<style>
				.grid {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
					gap: 1rem;
				}
				.item {
					border: 1px solid #ccc;
					padding: 1rem;
					border-radius: 4px;
				}
			</style>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
